<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Exemplo de autenticação com banco de dados</description>
    <display-name>IF6AE - Autenticação com banco de dados</display-name>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resource Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.CompatResourceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resource Servlet</servlet-name>
        <url-pattern>/xmlhttp/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Administrador</display-name>
        <web-resource-collection>
            <web-resource-name>Administrador</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Professor</display-name>
        <web-resource-collection>
            <web-resource-name>Professor</web-resource-name>
            <description/>
            <url-pattern>/prof/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Aluno</web-resource-name>
            <description/>
            <url-pattern>/aluno/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>professor</role-name>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Aluno</display-name>
        <web-resource-collection>
            <web-resource-name>Aluno</web-resource-name>
            <description/>
            <url-pattern>/aluno/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>aluno</role-name>
            <role-name>professor</role-name>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>IF6AE - Exemplo</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml?result=erro</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>professor</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>aluno</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>administrador</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/autenticacao</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
